.Heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 8rem;
    background-color: bisque;
    animation: headAnimation;
    animation-duration: 1s;
    align-items: center;
    justify-content: center;
}
@keyframes headAnimation {
    from{background-color:bisque;}
    to{background-color: brown;}
}